<!DOCTYPE html>
<html>
    <head>
        <title>My Date View</title>
    </head>
    <body>
        <h1>Today</h1>
        <% require 'date' %>
        <% date = Date.today %>
        <p><%= "The date is " + date.strftime("%A, %B %d, %Y") %></p>
    </body>
</html>
